@page "/"

<h3>Работа с базой данных mysql на небольшом примере инвентаризации</h3>
Имеется база данных mysql и 3 таблицы.
Ответственный, комната и номенклатура.
Ответственный с комнатами связан один ко многим
Комнаты с номенклатурой связаны один ко многим.
Отсюда для красивой и правильной функциональности должен быть заполнен хотя бы один ответственный и одна комната.
Страница отчетов выводит список номенклатуры, комнату и ответственного с возможностью отбора по комнате или ответственному.
Так же есть кнопка "печать", которая выводит печатную форму отчета.
