@page "/"

<h3>Работа с базой данных mysql на небольшом примере инвентаризации</h3>
Имеется база данных mysql и 3 таблицы.
<br />
                                      <ul>
                                          <li>Ответственный, комната и номенклатура.</li>
                                          <li>Ответственный с комнатами связан один ко многим</li>
                                          <li>Комнаты с номенклатурой связаны один ко многим.</li>
                                      </ul>

В целом, заполнение таблиц не обязательно, но тогда номенклатура не будет привязана к комнате, либо комната останется без ответственого
                                      <br />
Страница отчетов выводит список номенклатуры, комнату и ответственного с возможностью отбора по комнате или ответственному.
                                      <br />
Так же есть кнопка "печать", которая выводит печатную форму отчета.
