@page "/Responsible"
@inject Data.DB.MyDbContext db
@using Data.DB.entities


<h3>Заполнение ответственных лиц</h3>
<DataGrid TItem="Responsible" PageSize="15" ShowPager="@showPaginator" Data=@Responsibles Editable="true" RowInserted="RowCreate"
          RowRemoved="RowDelete"
          RowUpdated="RowUpdate">
    <DataGridCommandColumn TItem="Responsible" />
    <DataGridColumn TItem="Responsible" Field="@nameof(Responsible.Name)" Caption="Имя" Editable="true" Sortable="true"></DataGridColumn>
    <DataGridColumn TItem="Responsible" Field="@nameof(Responsible.LastName)" Caption="Фамилия" Editable="true" Sortable="true"></DataGridColumn>
</DataGrid>

@code {
    List<Responsible> Responsibles;
    bool showPaginator = false;

    protected override void OnInitialized()
    {
        //Заполняем лист Ответственные из базы
        Responsibles = db.Responsibles.ToList();
        //Если строк больше 15, то показать пагинатор
        if (Responsibles.Count > 15)
        {
            showPaginator = true;
        }

    }
    /// <summary>
    /// При создании строки
    /// </summary>
    /// <param name="data"></param>
    void RowCreate(SavedRowItem<Responsible, Dictionary<string, object>> data)
    {
        db.Responsibles.Add(data.Item);
        db.SaveChanges();
    }
    /// <summary>
    /// При удалении строки
    /// </summary>
    /// <param name="resp"></param>
    void RowDelete(Responsible resp)
    {
        db.Responsibles.Remove(resp);
        db.SaveChanges();
    }
    /// <summary>
    /// При изменении строки
    /// </summary>
    /// <param name="savedRow"></param>
    void RowUpdate(SavedRowItem<Responsible, Dictionary<string, object>> savedRow)
    {
        db.Responsibles.Update(savedRow.Item);
        db.SaveChanges();
    }
}
