@page "/Responsible"
@inject Data.DB.MyDbContext db
@using Data.DB.entities


<h3>Заполнение ответственных лиц</h3>
<DataGrid TItem="Responsible" PageSize="15" ShowPager="@showPaginator" Data=@Responsibles Editable="true" RowInserted="RowCreate"
          RowRemoved="RowDelete"
          RowUpdated="RowUpdate">
    <DataGridCommandColumn TItem="Responsible" />
    <DataGridColumn TItem="Responsible" Field="@nameof(Responsible.Name)" Caption="Имя" Editable="true" Sortable="true"></DataGridColumn>
    <DataGridColumn TItem="Responsible" Field="@nameof(Responsible.LastName)" Caption="Фамилия" Editable="true" Sortable="true"></DataGridColumn>
</DataGrid>

@code {
    List<Responsible> Responsibles;
    bool showPaginator = false;

    protected override void OnInitialized()
    {
        Responsibles = db.Responsibles.ToList();
        if (Responsibles.Count > 15)
        {
            showPaginator = true;
        }

    }
    void RowCreate(SavedRowItem<Responsible, Dictionary<string, object>> data)
    {
        db.Responsibles.Add(data.Item);
        db.SaveChanges();
    }
    void RowDelete(Responsible resp)
    {
        db.Responsibles.Remove(resp);
        db.SaveChanges();
    }
    void RowUpdate(SavedRowItem<Responsible, Dictionary<string, object>> savedRow)
    {
        db.Responsibles.Update(savedRow.Item);
        db.SaveChanges();
    }
}
